<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인터넷 방송 시청자수</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <header>Internet Broadcast</header>
    <div class="content">
        <div class="left-side">
        </div>
        <div class="content-body"> 
            <div class="space"></div>
            <div class="platform-tag font-text">
                <div class="tag-text"> PLAT FORM</div>
                <div class="platform click-color">
                    ALL
                </div>
                <div class="platform">
                    Afreeca
                </div>
                <div class="platform">
                    Twitch
                </div>
                <div class="platform">
                    Chzzk
                </div>
            </div>
            <div class="game-tag font-text">
                <div class="tag-text">GAME</div>
                <div class="game click-color" data-tag = "all">ALL</div>
                <div class="game" data-tag = "로스트아크">Lost Ark</div>
                <div class="game" data-tag = "LoL">LOL</div>
                <div class="game" data-tag = "TFT">TFT</div>
                <div class="game" data-tag = "메이플스토리">Maple</div>
                <div class="game" data-tag = "라디오">JustChating</div>
                <div class="game" data-tag = "스타">스타</div>
                <div class="game" data-tag = "마인크래프트">마인크래프트</div>
                <div class="game" data-tag = "배틀그라운드">배틀그라운드</div>
                <div class="game" data-tag = "이터널 리턴">이터널 리턴</div>
            </div>
            <div class="space">
            </div>
            <div class="content-table"> 

            </div>
        </div>
        <div class="right-side">
           
        </div>
    </div>
</body>

<script src="/main.js"></script>

</html>